.billing_form .form_group input {
  border: 1px solid var(--primary-color);
}

.checkout_saved {
  padding: 20px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
}

.checkout_saved h6,
h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout_saved h6 {
    margin-bottom: 10px;
}

.checkout_saved h4 {
    border: 1px solid rgba(221, 221, 221, 0.253);
    padding-top: 20px;
}

