.course_details {
  margin-top: 50px;
}

.course_details h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.course_rating span i {
  color: orange;
}

.course_rating p span {
  color: orange;
  font-weight: 700;
}

.course_price {
  font-size: 1.3rem;
  font-weight: 500;
}

.buy_btn {
  background: #23024d;
  border-radius: 20px;
  color: #fff;
  font-size: 1.1rem;
  padding: 5px 20px;
  margin-top: 30px;
}

.tab_wrapper {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

/*Mục các tab và có thể chuyển*/
.active_tab {
  font-weight: 600;
}

.tab_content p {
  line-height: 30px;
}

/*Mục đánh giá có trước*/
.review_wrapper ul li span {
  color: orange;
  font-weight: 600;
}

.review_wrapper ul li p {
  margin-top: 10px;
}

/*Mục tạo đánh giá*/
.review_form {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.review_form h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.form_group input,
.form_group textarea {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px 20px;
}

.form_group input:focus,
.form_group textarea:focus {
  outline: none;
}

.form_group {
  margin-bottom: 20px;
}

/*Mục đánh giá 5 sao*/
.form_group span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: orange;
  font-weight: 600;
  cursor: pointer;
}

.related_title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
}
