.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}

.footer_text {
    line-height: 30px;
    color: #ffffffe3;
}

.footer_quick-links ul li {
    background-color: transparent !important;
}

.footer_quick-links ul li a {
    color: #ffffffe3;
}

.quick_links-title {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.1rem;
}

.footer_contact li span,
.footer_contact li p {
    color: #ffffffe3;
}

.footer_contact li span {
    font-size: 1.2rem;
}

.footer_contact li p {
    font-size: 0.9rem;
}

.footer_copyright {
    color: #ffffffe3;
    font-size: 0.9rem;
    margin-top:  50px;
    text-align: center;
}